.SideBar {
    background-color: #F8F5EC;
    width: 20rem;
    // 채널
    .SideBar__category__channels {
        background-color: #F8F5EC;
        li {
            font-size: 1.2rem;
            padding: 0.5rem;
            border: gray;
        }
    }
}

// 채널 카테고리
.SideBar__category {
    position: relative;
    background-color: #E8EAAA;
    text-align: center;
    .SideBar__dropdown {
        top: 3rem;
        right: 5%;
        position: absolute;
        color: wheat;
        background-color: #212529;
        width: 90%;
        padding: 1rem 0;
        height: 10rem;
        border-radius: 0.4rem;
        z-index: 99;
        button {
            color: white;
            border: 0;
            width: 100%;
            background-color: inherit;
            padding: 0.4rem;
            cursor: pointer;
            // border-bottom: 1px solid #868e96;
            &:hover {
                background-color: #91a7ff;
            }
        }
    }
    .SideBar__category__add-btn{
    position: absolute;
    right: 1rem;
    opacity: 0.6;
    }
    .SideBar__category__title {
        display: flex;
        justify-content: center;
        align-items: center;

    }
    h1 {
        padding: 0.7rem 0;
        font-size: 1.5rem;
    }
    .SideBar__add-button {
        position: absolute;
        top: 13px;
        right: 15px;
    }
}

// channel component
.channel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .channel__edit-icon {
       position: absolute;
       right: 1.5rem;
    }

    .channel__delete-icon {
        position: absolute;
        right: 0.5rem;
    }

    input {
        width: 6rem;
    }
   
}

