.WorkSpaceBar {
    background-color: #8787A1;
    border: 1px solid red;
    padding: 10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-bottom: 10px;
    border: 1px solid blue;
    border-radius: 50%;
    background-color: whitesmoke;
}