.background {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  .container {
    position: relative;
    width: 80%;
    height: 30rem;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 15px;
    background-color: rgb(255, 253, 233);
    overflow: hidden;
    background-color: #fff;
  }

  .form {
    height: 80%;
  }

  .close_button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    background: inherit;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background: #ced4da;
    }
  }

  .submit_button {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 4px;
    color: white;
    background: #748ffc;
  }
}
