.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.3rem;
    border: 1px solid red;
    width: 25%;
    height: 30rem;

    span {
        margin-bottom: 1rem;
    }
}