.TopBar {
  display: flex;
  justify-content: space-between;
  padding: 1.2rem;
  color: white;
  background-color: #343a40;

  h1 {
    font-size: 1.3rem;
  }

  .TopBar__icon {
    font-size: 1.3rem;
    padding: 0 10px;
    color: white;
  }
}
