.background {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  .container {
    height: 8rem;
    width: 80%;
    max-width: 30rem;
  }

  .edit_container {
    height: 23srem;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 25rem;

    .edit_title {
      font-size: 1.5rem;
      margin-bottom: 1.2rem;
    }

    .edit_detail {
      display: flex;
      flex-direction: column;

      .edit_select_button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        color: #ced4da;
        background: #212529;
        border: none;
        border-radius: 4px;
        padding: 0.1rem 1rem;
        margin: 0.3rem 0;
      }

      span {
        padding: 1rem 0;
      }
    }

    .edit_button_container {
      display: flex;
      justify-content: flex-end;
      margin-top: 4rem;
      width: 100%;
      // padding: 2rem 1rem;
      // background: #343a40;

      button {
        border-radius: 4px;
        background: #a9e34b;
        border: none;
        padding: 0.7rem;
        &:hover {
          opacity: 0.7;
        }
      }

      button:first-child {
        color: white;
        background: inherit;
        margin-right: 0.5rem;
        &:hover {
          color: #495057;
          background: #ced4da;
        }
      }
    }
  }

  .container,
  .edit_container {
    color: white;
    position: relative;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 15px;
    overflow: hidden;
    background-color: #495057;
  }

  .form {
    height: 80%;
    display: flex;
    flex-direction: column;
  }

  .form_title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .form_invite_link {
    position: relative;
    margin-bottom: 0.8rem;
    border-radius: 4px;
    :first-child {
      width: 95%;
      color: #ced4da;
      background: #212529;
      padding: 1rem 0.8rem;
      margin-right: 0.5rem;
      border: none;
      outline: none;
    }

    .copy {
      background: #91a7ff;
    }

    button {
      position: absolute;
      top: 0.4rem;
      right: 0.2rem;
      padding: 0.6rem;
      background: #a9e34b;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      &:hover {
        opacity: 0.7;
      }
    }
  }

  .form_invite_edit {
    padding: 0 0.5rem;
    :first-child {
      margin-right: 0.5rem;
    }
    button {
      color: #91a7ff;
      background: inherit;
      border: none;
      border-radius: 4px;
      outline: none;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .close_button {
    position: absolute;
    top: 1.7rem;
    right: 1.5rem;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    background: inherit;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      background: #ced4da;
    }
  }

  .submit_button {
    position: absolute;
    right: 1.5rem;
    bottom: 2rem;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 4px;
    color: black;
    background: #a9e34b;
    &:hover {
      opacity: 0.7;
    }
  }
}
