.modalBg {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);

  .modal {
    position: relative; 
    width: 80%;
    height: 30rem;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem 1rem;
    border-radius: 15px;
    background-color: rgb(255, 253, 233);
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show 0.3s;
    overflow: hidden;
    background-color: #fff;
    

    .form {
      height: 80%;
    }
  
    .closeBtn {
      position: absolute;
      cursor: pointer;
      top: 1rem;
      right: 1rem;
    }

    .description {
      text-align: center;
      h1 {
        font-size: 2rem;
        margin-bottom: 0.7rem;
      }
    
      h2 {
        opacity: 0.5;
        margin-bottom: 0.7rem;
      }
    }
  
    
  
    .input {
      display: flex;
      flex-direction: column;
      padding: 15px;
  
      .title, .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        span {
          font-size: 1.5rem;
          margin-bottom: 0.8rem;
          margin-right: auto;
        }
        input, textarea {
          width: 95%;
          padding: 1rem;
        }
        input {
        }
        textarea {
          height: 10rem;
          resize: none;
        }
      }
    }
    
    .submitBtn {
      position: absolute;
      right: 2rem;
      bottom: 2rem;
    }
  }
}

