@import '../base/Modal.scss';

.Modal__Form__Description {
  text-align: center;
  h1 {
    font-size: 2rem;
    margin-bottom: 0.7rem;
  }

  h2 {
    opacity: 0.5;
    margin-bottom: 0.7rem;
  }
}



.Modal__Form__Input {
  display: flex;
  flex-direction: column;
  padding: 15px;

  .Modal__Form__Image, .Modal__Form__Title, .Modal__Form__Content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.8rem 0;
    span {
      font-size: 1.3rem;
      margin-bottom: 0.8rem;
      margin-right: auto;
    }
    .Modal__Form__error-message {
      position: absolute;
      right: 2rem;
      color: red;
      opacity: 0.8;
    }
    input, textarea {
      width: 95%;
      padding: 1rem;
    }
    input {
      margin-bottom: 0.3rem;
    }
    textarea {
      height: 10rem;
      resize: none;
    }
  }
}

.Modal__Form__Image {
  .Modal__Form__image-preview{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  .Modal__Form__image-upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    padding: 2rem;
    border: 1px solid gray;
    border-radius: 50%;

    p {
      font-size: 1.2rem;
      padding: 0.3rem;
      opacity: 0.7;
    }

    .Modal__Form__image-upload-icon {
      width: 3rem;
      height: 3rem;
    }
  }
}


