.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.5rem;
  width: 30%;
  height: 100%;

  .title_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }

  .title_plus_icon {
    opacity: 0.5;
    color: #74b816;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    &:hover {
      background-color: #adb5bd;
    }
  }

  .type {
    font-size: 1.3rem;
    opacity: 0.7;
  }

  .create_issue_button {
    background-color: inherit;
    border: none;
    justify-content: flex-start;
    padding: 0.6rem;
    border-radius: 8px;
    color: black;
    background: #74b816;
    cursor: pointer;
    &:hover {
      opacity: 0.7;
    }
  }
}

.plus_icon {
  margin-right: 5px;
}

.text_container {
  position: relative;
  height: 7rem;
  border-radius: 8px;
  margin-bottom: 1rem;

  textarea {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0;
  }

  .add_button,
  .close_button {
    position: absolute;
    bottom: 0.3rem;
    background: inherit;
    border: 0;
    padding: 8px 12px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
  }

  .add_button {
    right: 3rem;
    background: #a9e34b;
    &:hover {
      background: #74b816;
    }
  }

  .close_button {
    right: 0;
    &:hover {
      background: #dee2e6;
    }
  }
}
