@import 'styles/base/Modal.module.scss';

.form {
  h1 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
  .type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #495057;
    padding: 2rem 1rem;
  }
  .input {
    h2 {
      padding: 2rem 0 0.5rem 0;
    }
    input {
      width: 95%;
      height: 2rem;
      padding-left: 0.5rem;
    }
  }
}
