.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.8rem;
  border: 1px solid black;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  cursor: pointer;

  &:hover {
    background-color: #bac8ff;
    opacity: 0.7;
  }

  &:not(:first-child) {
    margin-bottom: 1rem;
  }

  .card_title {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .card_nickname {
    font-size: 0.89rem;
  }

  .card_create_date {
    font-size: 0.8rem;
    opacity: 0.7;
    margin-top: 0.6rem;
  }
}

.delete_icon {
  position: absolute;
  bottom: 15px;
  right: 10px;
  padding: 8px;
  color: white;
  background: #868e96;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    opacity: 0.5;
  }
}
